<h2>Cuestionario</h2>

<p>Apellido Paterno:</p>
<input type="text">
<p>Apellido Materno:</p>
<input type="text">
<p>Nombres:</p>
<input type="text">
<p>Edad:</p>
<input type="number">
<p>Fecha de Nacimiento:</p>
<input type="date">
<p>Tu correo electrónico:</p>
<input type="email">
<p>Cúal es tu género:</p>
<input type="radio" name="género">Masculino
<input type="radio" name="género">Femenino
<p>De que país eres:</p>
<select>
  <option>Argentina</option>
  <option>Brasil</option>
  <option>Bolivia</option>
  <option>Uruguay</option>
</select>
<p>Selecciona tus colegios favoritos:</p>
<label>Selecciona</label>
<br>
<input type="checkbox">Pichincha
<br>
<input type="checkbox">Braun
<br>
<input type="checkbox">Calero
<br>
<input type="checkbox">Don Bosco
<br>
<input type="checkbox">Otro