<h2>Mi información para que puedas contactarme</h2>

<p>Número de Celular: +591 78721317</p>
<p>Correo Electrónico: sebastiananzecolque12gmail.com</p>
<p>Mi Facebook</p>
<a href="https://www.facebook.com/share/1CaByBvBVv/">Facebook</a>
<p>Mi Instagram</p>
<a href="https://www.instagram.com/leomessi?igsh=MWpieXBuNXFqZW01cA==">Instagram</a>
<p>Mi X</p>
<a href="https://x.com/BrawlStars">X</a>
<p>Mi Tik Tok</p>
<a href="https://www.tiktok.com/@lamine.yamal?_r=1&_t=ZM-927qmpNOvbE">Tik Tok</a>

<p>Mensaje:</p>
<input type="text">

<button>Enviar</button>

